@charset "UTF-8";
/* MARGIN & PADDING RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* SMOOTH SCROLLING */
html {
  scroll-behavior: smooth;
}

/* -------------- */
/* --- MOBILE --- */
/* -------------- */
main {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 2em;
  width: 80%;
}

/* FONTS */
h1 {
  color: #999999;
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-size: 3.5em;
}

h2 {
  color: #999999;
  text-align: center;
  font-family: "Chivo", sans-serif;
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2:first-child {
  margin-top: 0;
}

p {
  color: #e6e6e6;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  font-family: "Montserrat", sans-serif;
}

.bold {
  font-weight: bold;
}

/* --------------- */
/* --- DESKTOP --- */
/* --------------- */
@media (min-width: 767px) {
  /* FONT SIZES */
  h1 {
    font-size: 7em;
    text-align: left;
  }

  p {
    font-size: 1.25em;
  }
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  z-index: 20;
}

nav a {
  color: #e6e6e6;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

#nav-links {
  display: flex;
  justify-content: left;
  width: 80%;
  margin-top: 1em;
  display: none;
}

#dropdown-div-icon {
  display: flex;
  justify-content: right;
  width: 80%;
}

#dropdown-div-icon i {
  font-size: 1.25em;
  color: #999999;
}

@media (min-width: 767px) {
  nav {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  #nav-links {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    min-width: 100vw;
    max-height: 64px;
    display: flex;
    justify-content: center;
  }

  #nav-links ul {
    display: flex;
    flex-direction: row;
    min-width: 440px;
    justify-content: space-between;
  }

  #nav-links ul li {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2em;
  }

  #nav-links ul li:last-of-type {
    margin-right: 0;
  }

  #nav-links ul li a {
    transition: all 0.2s ease-in-out;
  }

  #nav-links ul li a:hover {
    color: white;
  }

  #nav-links #max-height-proyectos {
    max-width: 82px;
    min-width: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-links #proyectos-dropdown {
    padding-top: 1em;
    min-width: 300px;
    display: none;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
  }

  #nav-links #proyectos-dropdown li {
    margin-top: 0.5em;
    margin-right: 0;
  }

  #nav-links #proyectos-dropdown li:first-of-type {
    margin-top: 0;
  }

  #nav-links #proyectos-dropdown li:last-of-type {
    margin-bottom: 1em;
  }

  #dropdown-div-icon {
    display: none;
  }

  #proyectos-link {
    cursor: pointer;
  }
}
/* MOBILE */
#empty-div {
  width: 100%;
  height: 100%;
  z-index: 15;
  position: absolute;
}

#video-background {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

#video-background > iframe {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#hero-title {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 18;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/* DESKTOP */
@media (min-width: 767px) {
  #video-background {
    background-image: none;
  }

  #video-background > iframe {
    display: block;
  }

  #hero-title {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
/* AJUSTES DE DIMENSIÓN DE ASPECTO */
@media (min-aspect-ratio: 16/9) {
  #video-background > iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 70vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-background > iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}
#bio-desktop {
  display: none;
}

#bio-movile {
  display: block;
}

@media (min-width: 767px) {
  #bio-mobile {
    display: none;
  }

  #bio-desktop {
    display: block;
  }
}
@media (min-width: 767px) {
  #bio-video, #bio-video iframe {
    width: 100%;
    height: 80vh;
  }
}
/* STYLING TINY SLIDER */
.tns-outer {
  padding: 0 !important;
}

.tns-outer [hidden] {
  display: none !important;
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}

.tns-slider > .tns-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-horizontal.tns-no-subpixel:after {
  content: "";
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  -webkit-transition: transform 0s, opacity 0s;
  -moz-transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}

.tns-gallery > .tns-moving {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.tns-complete {
  opacity: 1;
}

.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-vpfix {
  white-space: nowrap;
}

.tns-vpfix > div,
.tns-vpfix > li {
  display: inline-block;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}

.tns-t-ct {
  width: 2333.3333333%;
  width: -webkit-calc(100% * 70 / 3);
  width: -moz-calc(100% * 70 / 3);
  width: 2333.3333333333%;
  position: absolute;
  right: 0;
}

.tns-t-ct:after {
  content: "";
  display: table;
  clear: both;
}

.tns-t-ct > div {
  width: 1.4285714%;
  width: -webkit-calc(100% / 70);
  width: -moz-calc(100% / 70);
  width: 1.4285714286%;
  height: 10px;
  float: left;
}

/*# sourceMappingURL=sourcemaps/tiny-slider.css.map */
/* STYLING PERSONALIZADO */
#fotos-desktop,
#fotos-mobile {
  width: 100%;
  margin-top: 3em;
}

.slide-image {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#fotos-desktop {
  display: none;
}

#fotos-mobile {
  display: block;
}

@media (min-width: 767px) {
  .slide-image {
    width: 350px;
    height: 350px;
  }

  #fotos-mobile {
    display: none;
  }

  #fotos-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
#bio-text-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#bio-text-links i {
  color: #e6e6e6;
  font-size: 2.5em;
  transition: all 0.2s ease-in-out;
}

#bio-text-links a {
  text-decoration: none;
}

#bio-text-links .fa-spotify:hover {
  color: #1DB954;
}

#bio-text-links .fa-youtube:hover {
  color: #FF0000;
}

#bio-text-links .fa-instagram:hover {
  color: #8a3ab9;
}

#bio-text-links .fa-envelope:hover {
  color: #ff5800;
}

@media (min-width: 767px) {
  #bio-text-links {
    justify-content: center;
  }

  #bio-text-links a {
    margin-right: 2em;
  }

  #bio-text-links a:last-of-type {
    margin-right: 0;
  }
}
#small-hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

@media (min-width: 767px) {
  #small-hero-title {
    width: 80%;
  }

  #small-hero-title > h1 {
    font-size: 5em;
    text-align: center;
  }
}
.project-embed {
  width: auto;
  height: auto;
  margin-bottom: 2em;
}

.project-embed > iframe {
  border: 0;
  width: 80vw;
  height: 80vw;
}

@media (min-width: 767px) {
  .project-embed > iframe {
    width: 50vh;
    height: 50vh;
  }
}
footer {
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer p {
  font-size: 1em;
}

/* -- COMMON STYLES */
/* -- LAYOUTS --  */
/* -- INCLUDES -- */
/* NAVIGATION */
/* INDEX */
/* PROJECTS */
/* FOOTER */

/*# sourceMappingURL=style.css.map */
