#bio-text p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#bio-text p:first-of-type {
    margin-top: 0;
}

#bio-text p:last-of-type {
    margin-bottom: 0;
}

#bio-desktop {
    display: none;
}

#bio-movile {
    display: block;
}

@media (min-width: 767px) {

    #bio-mobile {
        display: none;
    }

    #bio-desktop {
        display: block;
    }

}