<nav id="nav">
  <div id="dropdown-div-icon">
    <i id="dropdown-icon" class="fa-solid fa-chevron-down"></i>
  </div>
  <div id="nav-links">
    <ul>
      <li>
        <a href="#bio"> BIO </a>
      </li>
      <li id="max-height-proyectos">
        <a id="proyectos-link"> MÚSICA </a>
        <ul id="proyectos-dropdown">
          <li>
            <a href="./proyectos/cuerpo-aldea"> — CUERPO ALDEA </a>
          </li>
          <li>
            <a href="#"> — ESTRADA </a>
          </li>
          <li>
            <a href="#"> — OURO VERDE </a>
          </li>
          <li>
            <a href="#"> — DIARIO DE UN CRIMEN </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"> TALLERES </a>
      </li>
      <li>
        <a href="#"> AGENDA </a>
      </li>
      <li>
        <a href="#"> ENGLISH </a>
      </li>
    </ul>
  </div>
</nav>
