<nav id="nav" class="{{ include.class }}">
  <div id="dropdown-div-icon">
    <i id="dropdown-icon" class="fa-solid fa-bars"></i>
  </div>
  <div id="nav-links">
    <ul>
     {% if page.language == 'es' %}
        <li>
          <a href="/#bio"> BIO </a>
        </li>
        <li id="max-height-proyectos">
          <p id="proyectos-link"> MÚSICA </p>
          <ul id="proyectos-dropdown">
            <li>
              <a href="/projects/cuerpo-aldea"> — CUERPO ALDEA</a>
            </li>
            <li>
              <a href="/projects/estrada"> — ESTRADA</a>
            </li>
            <li>
              <a href="/projects/diario-de-um-crime"> — DIÁRIO DE UM CRIME</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/workshops"> TALLERES </a>
        </li>
        <li>
          <a href="/tour"> CONCIERTOS </a>
        </li>
        <li>
          <a href="/en"> ENGLISH </a>
        </li>
      {% endif %}
      {% if page.language == 'en' %}
        <li>
          <a href="/en/#bio"> BIO </a>
        </li>
        <li id="max-height-proyectos">
          <p id="proyectos-link"> MUSIC </p>
          <ul id="proyectos-dropdown">
            <li>
              <a href="/projects/en/cuerpo-aldea"> — CUERPO ALDEA</a>
            </li>
            <li>
              <a href="/projects/en/estrada"> — ESTRADA</a>
            </li>
            <li>
              <a href="/projects/en/diario-de-um-crime"> — DIÁRIO DE UM CRIME</a>
            </li>
          </ul>
        </li>
          <li>
            <a href="/en/workshops"> WORKSHOPS </a>
          </li>
          <li>
            <a href="/en/tour"> TOUR </a>
          </li>
          <li>
            <a href="/"> ESPAÑOL </a>
          </li>
      {% endif %}
    </ul>
  </div>
</nav>