<nav id="nav">
  <div id="dropdown-div-icon">
    <i id="dropdown-icon" class="fa-solid fa-chevron-down"></i>
  </div>
  <div id="nav-links">
    <ul>
      <li>
        <a href="/"> BIO </a>
      </li>
      <li id="max-height-proyectos">
        <a id="proyectos-link"> MUSIC </a>
        <ul id="proyectos-dropdown">
          <li>
            <a href="/projects/cuerpo-aldea"> — CUERPO ALDEA</a>
          </li>
          <li>
            <a href="/projects/estrada"> — ESTRADA</a>
          </li>
          <li>
            <a href="/projects/diario-de-um-crime"> — DIÁRIO DE UM CRIME</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/workshops"> WORKSHOPS </a>
      </li>
      <li>
        <a href="#"> TOUR </a>
      </li>
    </ul>
  </div>
</nav>
