#dates-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}
main {
  min-height: 50vh;
}
.date-container > p {
  margin: 0;
}
.date-bold {
  font-weight: bold;
}
.date-grey {
  color: #999999;
}
@media (min-width: 767px) {
  #dates-container {
    width: 80%;
    column-gap: 40px;
    row-gap: 80px;
    justify-content: flex-start;
  }
  .date-container {
    width: 190px;
  }
}