<!-- DESKTOP -->

<div id="fotos-desktop">
  <a data-fslightbox="gallery" href="{{ page.images[0] }}">
    <div
      class="slide-image"
      style="background-image: url({{ page.images[0] }})"
    ></div>
  </a>
  <a data-fslightbox="gallery" href="{{ page.images[1] }}">
    <div
      class="slide-image"
      style="background-image: url({{ page.images[1] }})"
    ></div>
  </a>
  <a data-fslightbox="gallery" href="{{ page.images[2] }}">
    <div
      class="slide-image"
      style="background-image: url({{ page.images[2] }})"
    ></div>
  </a>
</div>

<!-- MOBILE -->

<div id="fotos-mobile">
  <div class="slider">
    <a data-fslightbox="gallery" href="{{ page.images[0] }}">
      <div
        class="slide-image"
        style="background-image: url({{ page.images[0] }})"
      ></div>
    </a>
    <a data-fslightbox="gallery" href="{{ page.images[1] }}">
      <div
        class="slide-image"
        style="background-image: url({{ page.images[1] }})"
      ></div>
    </a>
    <a data-fslightbox="gallery" href="{{ page.images[2] }}">
      <div
        class="slide-image"
        style="background-image: url({{ page.images[2] }})"
      ></div>
    </a>
  </div>
</div>

<!-- JAVASCRIPT -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<script>
  let slider = tns({
    items: 1,
    autoplay: true,
    swipeAngle: false,
    speed: 400,
    autoplayButton: false,
    center: true,
    controls: false,
    autoplayButtonOutput: false,
    navPosition: "bottom",
  });
</script>

<!-- CSS POST SLIDER-->

<style>
  .tns-nav {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .tns-nav-active {
    background-color: #e6e6e6 !important;
  }

  .tns-nav > button {
    margin-right: 1em;
    background-color: #999999;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50px;
    border: none;
  }

  .tns-nav > button:last-of-type {
    margin: 0;
  }
</style>

<!-- LIGHTBOX -->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.0.9/index.min.js"
  integrity="sha512-03Ucfdj4I8Afv+9P/c9zkF4sBBGlf68zzr/MV+ClrqVCBXWAsTEjIoGCMqxhUxv1DGivK7Bm1IQd8iC4v7X2bw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
