<div id="bio-text-links">
    <a href="https://open.spotify.com/artist/1CviTVT7wHkZab0k53O1Kj?si=y31kJpQOSzKlwq2IVpDaHg">
        <i class="fa-brands fa-spotify"></i>
    </a>
    <a href="https://www.youtube.com/c/ManuRosales">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a href="https://www.instagram.com/manurosalesmusico/">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <!---
        <a href="mailto:rosalesmanuelmail@gmail.com">
            <i class="fa fa-envelope"></i>
        </a>
    --->
</div>