#english-text, #divider {
    margin-top: 1.5em;
}

div > div {
    margin-top: 1.5em;
}

div > div:first-child {
    margin-top: 0;
}

#estrada-cover {
    width: 100%;
}

h2 > a {
    text-align: center;
    color: #999999;
}

#divider {
    width: 30%;
}

#english-text {
    font-style: italic;
}

@media (min-width: 767px) {
    #estrada-cover {
        width: 800px;
    }
}